<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--      th:fragment="layout(main)"-->
<!--      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">-->


<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"-->
<!--    th:href="@{/bootstrap/css/bootstrap.min.css}">-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand-md navbar-dark bg-success text-white p-2">-->
<!--    <a th:href="@{/}" class="navbar-brand">Spring Security</a>-->
<!--    <button class="navbar-toggler" data-bs-target="#myNav"-->
<!--            data-bs-toggle="collapse">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div id="myNav" class="collapse navbar-collapse">-->
<!--        <ul class="navbar-nav ms-auto">-->

<!--            <li sec:authorize="!isAuthenticated()" class="nav-item">-->
<!--                <a th:href="@{/login}" class="nav-link  align-items-end">login</a>-->
<!--            </li>-->
<!--            <li sec:authorize="!isAuthenticated()" class="nav-item">-->
<!--                <a th:href="@{/register}" class="nav-link text-capitalize">Register</a>-->
<!--            </li>-->
<!--            <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                <a href="javascript:document.logoutForm.submit()"-->
<!--                   class="nav-link text-capitalize">logout</a>-->
<!--                <form name="logoutForm" th:action="@{/logout}" method="post" hidden>-->
<!--                    <input type="submit" value="logout" hidden>-->
<!--                </form>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<!--<div th:replace="${main}"></div>-->
<!--</body>-->
<!--</html>-->