<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card" th:if="${!cartItems.isEmpty()}">
                    <div class="card-header">
                        <h4>Cart View</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                         <tr>
                             <th>Title</th>
                             <th>Author</th>
                             <th>Quantity</th>
                             <th>Update Quantity</th>
                             <th>Price</th>
                             <th>Sum</th>
                             <th>Action</th>
                         </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${cartItems}">
                            <td th:text="${item.title}"></td>
                            <td th:text="${item.author}"></td>
                            <td th:text="${item.quantity}">
                            </td>
                            <td>
                                <a th:href="@{'/books/increase-item/'+ ${item.id}}" class="btn btn-success me-1">Add</a>
                                <a th:href="@{'/books/decrease-item?id='+${item.id}}" class="btn btn-danger">Minus</a>
                            </td>
                            <td th:text="${'$'+ item.price}"></td>
                            <td th:text="${'$'+ item.price * item.quantity}"></td>
                            <td>
                                <a th:href="@{'/books/remove-from-cart?id='+ ${item.id}}"
                                   class="btn btn-outline-danger">Remove</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-7"></div>
                        <div class="col-3"><h3
                                class="text-muted text-end">TotalPrice:: $<span th:text="${totalPrice}"></span></h3></div>
                        <div class="col-2"></div>
                    </div>

                </div>
                <div th:if="${cartItems.isEmpty()}">
                    <h3 class="text-center">No Content</h3>
                </div>
            </div>
        </div>
        <div class="row my-3" th:if="${!cartItems.isEmpty()}">
            <div class="col">
                <a th:href="@{/books}" class="btn btn-primary me-3">Continue Shopping</a>
                <a href="" class="btn btn-info me-3 px-3">CheckOut</a>
                <a th:href="@{/books/clear-cart}" class="btn btn-danger">Clear Cart</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>