<!DOCTYPE html>
<html th:replace="~{layout/landingPage :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <section id="hero-image" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mt-5 ms-5">
                        <p class="display-3">How Innovation</p>
                        <p class="display-3">Works</p>
                        <p>Discount available and grab it now!</p>
                        <a th:href="@{/books}" class="btn btn-danger px-5 py-3 rounded-5">Shop Product</a>
                    </div>
                </div>
                <div class="col">
                    <img th:src="@{/images/banner-image1.png}" class="img-fluid" alt="image">

                </div>
            </div>
        </div>

    </section>
    <div class="container mt-5">
        <div class="space-box"></div>
        <section id="icon-section">
            <div class="row">
                <div class="col-3">
                    <h4>Free delivery</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-3">
                    <h4>Quality guarantee</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-3">
                    <h4>Daily offers</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-3">
                    <h4>100% secure payment</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </section>
        <div class="space-box"></div>
        <section id="best-seller">
            <div class="d-flex justify-content-between mb-3">
                <h1>Best Selling Items</h1>
                <a href="" class="btn btn-danger px-5">View All</a>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <img th:src="@{'/images/'+ ${books.get(1).getImageUrl() +'.png'}}"
                             class="card-img-top" alt="img">
                        <div class="card-body">
                            <h4 class="card-title text-capitalize" th:text="${books.get(1).getTitle()}"></h4>
                            <p class="lead card-text" th:text="${books.get(1).getAuthor()}"></p>
                            <p class="lead card-text text-danger bold" th:text="${'$'+ books.get(1).getPrice()}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img th:src="@{'/images/'+ ${books.get(2).getImageUrl() +'.png'}}"
                             class="card-img-top" alt="img">
                        <div class="card-body">
                            <h4 class="card-title text-capitalize" th:text="${books.get(2).getTitle()}"></h4>
                            <p class="lead card-text" th:text="${books.get(2).getAuthor()}"></p>
                            <p class="lead card-text text-danger bold" th:text="${'$'+ books.get(2).getPrice()}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img th:src="@{'/images/'+ ${books.get(3).getImageUrl() +'.png'}}"
                             class="card-img-top" alt="img">
                        <div class="card-body">
                            <h4 class="card-title text-capitalize" th:text="${books.get(3).getTitle()}"></h4>
                            <p class="lead card-text" th:text="${books.get(3).getAuthor()}"></p>
                            <p class="lead card-text text-danger bold" th:text="${'$'+ books.get(3).getPrice()}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img th:src="@{'/images/'+ ${books.get(4).getImageUrl() +'.png'}}"
                             class="card-img-top" alt="img">
                        <div class="card-body">
                            <h4 class="card-title text-capitalize" th:text="${books.get(4).getTitle()}"></h4>
                            <p class="lead card-text text-capitalize" th:text="${books.get(4).getAuthor()}"></p>
                            <p class="lead card-text text-danger bold" th:text="${'$'+ books.get(4).getPrice()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</main>
</body>
</html>